@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    color: white;
    background-color: #041C32;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

#Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 50px;
    margin:30px 0px 0px 0px;
}

h2 {
    color: white;
    font-family: 'Rubik Distressed', cursive;
    font-size: 25px;
    margin:0px;
}

#PlayerInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

#PlayerInfo div {
    display: flex;
    flex-direction: column;
}

#PlayerInfo div input {
    background-color: black;
    color: white;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    background-color:#cd8b2e;
    margin: 15px;
    height: 35px;
    width: 200px;
    border-radius: 20px;
    padding: 4px;
    border: 2px solid black;
    color: white;
}

#Elementals {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

#Elementals div {
    display: flex;
}

.ElementalCard {
    background-color: #064663;
    border: 2px solid #cd8b2e;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    width: 200px;
}

#Elementals label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Elementals input {
    display: none;
}

#Elementals input:checked + label {
    background-color: #ECB365;
}

#Elementals img {
    width: 100px;
    height: 100px;
}

#Attacks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Attacks div {
    display: flex;
    align-items: center;
}

#gameReset {
    background-color: red;
}

#DuelInfo {
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik Distressed', cursive;
    font-size: 20px;
}

#DuelInfo div {
    display: flex;
    justify-content: space-around;
}

.DuelCard {
    background-color: #064663;
    border: 2px solid #cd8b2e;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    width: 250px;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 12px;
}

#playerElementalName {
    color: white;
    font-family: 'Rubik Distressed', cursive;
    font-size: 20px;

}

#aiElementalName {
    color: white;
    font-family: 'Rubik Distressed', cursive;
    font-size: 20px;

}

.DuelCard img {
    width: 100px;
    height: 100px;
}

#hitPointsP {
    color: rgb(20, 233, 1);
    font-size: 35px;
}

#hitPointsAI {
    color: red;
    font-size: 35px;
}

#playerHPText {
    color: rgb(20, 233, 1);
    display: flex;
    flex-direction: column;
}

#aiHPText {
    color: red;
    display: flex;
    flex-direction: column;
}

#duelClosure {
    font-size: 25px;
}

#Results {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Rubik Distressed', cursive;
    font-size: 20px;
}

#battleLogText {
    background-color:#04293A ;
    border-radius: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: white;
    padding: 15px;
    text-align: center;
}

@media (max-width: 360px) {
    body {
        text-align: center;
    }
    
    #Elementals div {
        flex-direction: column;
    }

    #Attacks div {
        flex-direction: column;
    }

    .vsCards {
        flex-direction: column;
    }
}